.asideMain {
  height: 100vh;
  background: $preto;
  color: $branco;
}
.asideMain-perfil{
  height: 35px;
  border-bottom: 2px solid #000;
} 
@media (min-width: 768px) { 
  .asideMain-perfil{
    height: 60px;
  }
}
.asideMain-perfil img.d-block{
  width: 30px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 4px 0 $branco;
}
.asideMain-perfil h3{
  width: max-content;
  font-size: 14px;
}