.home .card__link:hover{
  text-decoration: none;
}
.home .card__hover{
  box-shadow: 0 2px 20px 0px rgba(0,0,0,0.15);
  transition: .3s;
}
.home .card__hover:hover{
  box-shadow: 0 2px 15px 0px rgba(0,0,0,0.30);
}
.home .card__text{
  font-size: 2.5rem;
  font-weight: lighter;
  letter-spacing: 2px;
}
.home .card__icone{
  opacity: .15;
  width: 100%;
  max-width: 35px;
}
