.main__page{
  min-height: 100vh;
} 
@media (min-width: 960px) { 
  .main__page{
    display: grid;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
      "header conteudo"
      "navegacao conteudo"
      ;
  }
}

.main__header{
  grid-area: header;
}

.main__navegacao{
  grid-area: navegacao;
}

.main__conteudo{
  grid-area: conteudo;
}
@media (min-width: 960px) { 
  .main__conteudo{
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
  }
}
@media (max-width: 960px) { 
  .main__conteudo{
    padding-top: 1rem;
  }
  #breadcrumb{
    display: none;
  }
}


// NOTIFICACAO
.notificacao{

}
.notificacao__item{
  cursor: pointer;
  display: inline-block;
}
 .notificacao__img{
   width: 24px;
   display: block;
   border: none;
   border-radius: 50%;
   transition: .3s;
 }
 .notificacao__img:hover{
  box-shadow: 0 0 15px 1px rgba(0,0,0,0.4);
}


// TABELAS
.tabela__inner{
  max-height: 600px;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: auto;
}
.tabela__inner td{
  font-size: 12px;
  white-space: nowrap!important;
  padding: 8px 0; 
}
.tabela__inner .tabela__icone{
  width: 30px;
  height: 30px;
  padding: 4px;
  transition: .3s;
  display: block;
}
.tabela__inner .tabela__icone:hover{
  opacity: .25;
}
.tabela__inner .tabela__icone img{
  margin: 2px 0 0;
}

// GENERICOS
.c-pointer{
  cursor: pointer;
}