.aside-menu{
  color: $branco;
}
.aside-menu ul{
  list-style-type: none;
}
.aside-menu li{
  transition: .25s;
}
.aside-menu li:hover{
  // opacity: .3;
  background: rgba(0, 0, 0, 0.10);
}
.aside-menu a{
  color: inherit;
  font-size: 14px;
  height: 35px;
}
.aside-menu a:hover{
  color: $branco-half;
  text-decoration: none;
}
 




