.asideMain {
  height: 100vh;
  background: $preto;
  color: $branco;
}
.asideMain.ativo{
  width: 200px
}
.asideMain-perfil{
  // height: 35px;
  // border-bottom: 2px solid #000;
  border-bottom: 1px solid rgba(80,80,80,0.5);
  // padding: 2px 0;
  box-shadow: 0 0px 4px 0px rgba(0,0,0,0.25);
  height: 60px;
} 
@media (min-width: 768px) { 
  .asideMain-perfil{
    height: 60px;
  }
}
.asideMain.ativo .asideMain-perfil img.d-block{
  // max-width: 20px;
  // max-height: 18px; 
}
.asideMain-perfil h3{
  width: max-content;
  font-size: 14px;
}

// MENU ATIVO
.asideMain .js-texto{
  opacity: 0;
  position: absolute;
}
.asideMain.ativo .js-texto{ 
  opacity: 1;
  position: relative;
}

.asideMain.ativo .js-img{ 
  max-width: 20px;
  max-height: 18px; 

}