.main__page{
  overflow: hidden;
  overflow-y: auto;
} 
@media (min-width: 768px) { 
  .main__page{
    width: calc( 100% - 185px);
  }
}
.main__table{
  border: 1px solid $preto-half;
  max-height: 600px;
  overflow: hidden;
  overflow-y: auto;
}

.main__table--tbn{
  background: transparent;
  border: none;
  width: 40px;
  height: 30px;
  display: inline-block;
}
.main__table--icone{
  opacity: .7;
  cursor: pointer;
  max-width: 16px;
}
.main__table--icone.excluir{
  max-width: 13px;
}
.modal__icone-info{
  max-width: 125px;
}

@media (min-width: 768px) { 
  /* -- */
}